.home__item {
    background-color: #1d1d1d;
    border-radius: 11px;
    padding: 20px;
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 15px;
    position: relative;
}

.top__user.me {
    background-color: #181818;
    border-radius: 7px;
}

.home__items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 50px 0;
}


.home__item .info span {
    font-weight: 600;
    font-size: 25px;
}

.home__item .all {
    position: absolute;
    top: 15px;
    right: 30px;
    color: #646cff;
}

.home__item .litsey__logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.home__item .litsey__logo img {
    width: 250px;
    border-radius: 30%;
}

.top__user:hover {
    background-color: #161616;
}

.top__user {
    display: flex;
    align-items: center;
    background-color: #1d1d1d;
    border-radius: 7px;
    transition: background-color 0.3s;
    width: 100%; /* Make sure top__user takes up full width */
}

.top__user:hover {
    background-color: #161616;
}

.top__user.me {
    background-color: #181818;
    border-radius: 7px;
}

.top__user .place {
    border: solid 2px white;
    padding: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px; /* Добавьте отступ справа */
}

.top__user .name {
  flex-grow: 1; /* Allows name to expand and take available space */
}

.top__user .info__user {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.home__item .info__user .books,
.home__item .info__user .pages {
    display: flex;
    gap: 5px;
    align-items: center;
    white-space: nowrap; /* Prevents wrapping of book/page info */
}

.top__users {
    display: flex; /* Use flex for the top users container */
    flex-direction: column; /* Stack top users vertically */
    gap: 15px;
    width: 100%; /* Ensure top__users takes full width of parent */
}


.home__item .info__user {
    font-weight: 500;
    width: 65px;
}


.home__item .title {
    font-weight: 500;
    font-size: 25px;
    margin-top: 20px;
}
.home__item .logo {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__item .logo img {
    width: 200px;
    height: 200px;
}