.mobile .mobile__bottom .nav a img {
    max-height: 50px;
}

.mobile__bottom {
    position: fixed;
    width: 100%;
    height: 60px;
    bottom: 0;
    border-top: 2px solid black;
    background-color: #202020;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 7px;
}

.mobile__bottom .nav a img {
    height: 50px;
}